{% load static from staticfiles %}
{% load widget_filters i18n admin_static %}

<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
<script type="text/javascript" src="{% static "tiny_mce/tiny_mce.js" %}"></script>
<script type="text/javascript">
    $ = django.jQuery || jQuery;
    var current_emails_file, email_item_id;
    var tinymce_is_hidden = false;
    var required_msg = "{% blocktrans %}Это поле обязательно.{% endblocktrans %}";
    function filter_change_visibility(type, hide) {
        $('[data-field-type="' + type + '"]').each(function(i, el) {
            if (hide) {
                $(el).parents('div.form-row').hide();
                if (type == 'default')
                    $('h2.additional-header').hide();
            }
            else if (type != 'self') {
                $(el).parents('div.form-row').show();
                if (type == 'default')
                    $('h2.additional-header').show();
            }
        });
    }
    $(document).delegate('.type-selector', 'change', function(e) {
        check_selector_state($(e.target).val());
    });
    function check_selector_state(state) {
        if (!state)
            state = $('.type-selector:checked').val();
        var filters = ['email', 'file', 'default', 'self'];
        for (var i = 0; i < filters.length; i++)
            filter_change_visibility(filters[i], true)
        if (state)
            filter_change_visibility(state);
    }

    function is_valid(e) {
        if (e == undefined) {
            var v = validate_subject();
            v = validate_html_message() && v;
            v = validate_emails_list() && v;
            v = validate_emails() && v;
            return v;
        }
        switch ($(e.target).attr('name')) {
            case 'subject':
                validate_subject();
                break;
            case 'html_message':
                validate_html_message();
                break;
            case 'emails_list':
                validate_emails_list();
                break;
            case 'emails':
                validate_emails();
                break;
        }
    }
    function validate_subject() {
        var field = $('#id_subject');
        var val = field.val();
        !val.trim().length ? add_error(field, required_msg) : remove_error(field);
        return !!val.trim().length;
    }
    function validate_html_message() {
        var field = $('#id_html_message');
        var is_hidden = tinymce_is_hidden;
        if (is_hidden) toggleTinyMce('id_html_message');
        var invalid = !tinymce.get('id_html_message').getBody().textContent.length;
        invalid ? add_error(field, required_msg) : remove_error(field);
        if (is_hidden) toggleTinyMce('id_html_message');
        return !invalid;
    }
    function validate_emails_list() {
        var field = $('#id_emails_list');
        var filled = !!field.val().trim();
        var required = $('input[name=filter_type][value=email]:checked').length;
        var valid = required ? filled : true;
        valid ? remove_error(field) : add_error(field, required_msg);
        return valid
    }
    function validate_emails() {
        var field = $('#id_emails');
        var filled = !!field.val();
        var required = $('input[name=filter_type][value=file]:checked').length;
        var valid = required ? filled : true;
        valid ? remove_error(field) : add_error(field, required_msg);
        return valid;
    }
    function add_error(field, error) {
        if (field.parents('div.form-row').hasClass('errors'))
            return;
        field.parents('div.form-row').addClass('errors').children('div').append('<ul class="errorlist"><li>' + error + '</li></ul>');
    }
    function remove_error(field) {
        field.parents('div.form-row').removeClass('errors').children('div').find('ul.errorlist').remove();
    }
    $(document).delegate('#massNewsForm :input', 'change input', is_valid);
    function disable_btn(btn, disable) {
        btn.prop('disabled', disable);
        disable ? btn.attr('disabled', 'disabled') : btn.removeAttr('disabled');
    }
    function template_selected_handler(selected) {
        var editor = tinymce.get('id_html_message');
        if (selected) {
            $('#id_subject').attr('disabled', 'disabled');
            editor.getBody().setAttribute('contenteditable', false)
            Object.keys(editor.controlManager.controls).forEach(function(btn) {
                editor.controlManager.get(btn).setDisabled(true);
            })
            $(editor.getBody()).delegate('*', 'click', disable_event);
        }
        else {
            $('#id_subject').removeAttr('disabled');
            editor.getBody().setAttribute('contenteditable', true)
            Object.keys(editor.controlManager.controls).forEach(function(btn) {
                editor.controlManager.get(btn).setDisabled(false);
            })
            $(editor.getBody()).undelegate('*', 'click', disable_event);
        }
    }

    function disable_event(e) {
        e.preventDefault();
        return false;
    }

    function updateTinyMce(editorId) {
        if(tinyMCE.get(editorId))
        {
            tinyMCE.EditorManager.execCommand('mceFocus', false, editorId);
            tinyMCE.EditorManager.execCommand('mceRemoveEditor', true, editorId);

        } else {
            tinymce.EditorManager.execCommand('mceAddEditor', false, editorId);
        }
    }
    function toggleTinyMce(editorId) {
        tinymce_is_hidden = !tinymce_is_hidden;
        updateTinyMce(editorId);
    }

    function init_redactor() {
         tinymce.init({
            selector: '#id_html_message',
            mode: 'none',
            language: 'ru',
            relative_urls : false,
            remove_script_host : false,
            convert_urls : true,
            width: '100%',
            height: '300px',
            plugins: 'fullpage, legacyoutput',
            setup: function (editor) {
                editor.onChange.add(function(ed, e) {
                    $('#' + ed.id).trigger('change');
                })
            }
          });
    }

    $(document).ready(function() {
        check_selector_state();
        init_redactor();
        $(".toggle_tinymce").on('click',function(){
            toggleTinyMce('id_html_message');
        });

        $(document).on('click', '#sendMessage', function() {
            var submit_btn = $(this);
            disable_btn(submit_btn, true);
            var disabled = $('#id_subject').attr('disabled');
            if (disabled)
                $('#id_subject').removeAttr('disabled');
            $.ajax({
                url: "{% url 'from-support-confirm' %}",
                type: "POST",
                data: {item_id: email_item_id},
                success: function (data) {
                    $('#modalDialog').modal('hide');
                    alert("{% blocktrans %}Сообщения успешно отправлены{% endblocktrans %}");
                },
                error: function (xhr, err) {
                    alert("{% blocktrans %}Во время выполнения запроса произошла ошибка{% endblocktrans %}");
                },
                complete: function(xhr, status) {
                    window.location.reload();
                }
            });
        });
        $(document).on('change', '#id_chosen_template', function(e) {
            var val = $(e.target).val();
            if (val) {
                $.post("{% url 'support_mail_template' %}", {id: val}, function(data) {
                    $('#id_subject').val(data['subject']).trigger('change');
                    tinyMCE.get('id_html_message').setContent(data['html_message'], {format: 'html'});
                    $('#id_html_message').trigger('change');
                    template_selected_handler(true);
                });
            }
            else {
                template_selected_handler(false);
                $('#id_subject').val('');
                tinyMCE.get('id_html_message').setContent('', {format: 'html'});
            }
        });
        $(document).on("keydown", function (e) {
            if (e.which === 8 && !$(e.target).is("input, textarea, .redactor-editor")) {
                e.preventDefault();
            }
        });

        $(document).on('submit', '#massNewsForm', function (e) {
            e.preventDefault();
            if (!is_valid()) {
                $('body').animate({scrollTop: $('.form-row.errors').first().position().top - $('.global-header').height()});
                return;
            }
            if(!tinymce_is_hidden) {
                updateTinyMce('id_html_message');
            }
            $('#id_subject').removeAttr('disabled');
            $('#submitForm').button('loading');
            var formData = new FormData(this);
            current_emails_file = $('#id_emails');
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data['form']) {
                        $('#massNewsForm').replaceWith(data['form']);
                        SelectFilter.init("id_session_filter", "Сессия курса", 0, "/static/admin/");
                        SelectFilter.init("id_course_filter", "Курсы", 0, "/static/admin/");
                        SelectFilter.init("id_university_filter", "Вузы", 0, "/static/admin/");
                        DateTimeShortcuts.init();
                        $('#id_emails').replaceWith(current_emails_file);
                        check_selector_state();
                    }
                    if (!data['valid']) {
                        $('body').animate({scrollTop: $('.form-row.errors').first().position().top - $('.global-header').height()});
                        $('#id_emails').replaceWith(current_emails_file);
                        return;
                    }
                    if (data['item_id']) {
                        email_item_id = data['item_id'];
                    }
                    var msg = data['message'];
                    $('#modalDialog div.modal-body').html('<p>' + msg + '</p>');
                    $('#modalDialog').modal('show');
                    if (data['error']) {
                        $('#modal-success-buttons').hide();
                        $('#modal-fail-buttons').show();
                    }
                },
                error: function (xhr, err) {
                    alert("{% blocktrans %}Во время выполнения запроса произошла ошибка{% endblocktrans %}");
                },
                complete: function(xhr, status) {
                    $('#submitForm').button('reset');
                    if(!tinymce_is_hidden) {
                        updateTinyMce('id_html_message');
                    }
                    template_selected_handler($('#id_chosen_template').val());
                }
            });
            return false;
        });
        $(document).on('click', '#modal-fail-buttons span', function() {
            $('#modal-success-buttons').show();
            $('#modal-fail-buttons').hide();
        });
    });
</script>
