{% extends 'base.html' %}
{% load static from staticfiles %}

{% load widget_filters i18n admin_static %}

{% block title %}{% blocktrans %}Массовая рассылка{% endblocktrans %}{% endblock title %}

{% block section_id %}bulk_email{% endblock section_id %}

{% block content %}
    {% block modal_window %}
    <div class="modal fade text-left" tabindex="2" role="dialog" id="modalDialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body"></div>
          <div class="modal-footer">
            <div class="clearfix" id="modal-success-buttons">
              <span id="sendMessage" class="btn btn-success pull-left">{% blocktrans %}Да{% endblocktrans %}</span>
              <span data-dismiss="modal" class="btn btn-danger pull-right">{% blocktrans %}Нет{% endblocktrans %}</span>
            </div>
            <div class="clearfix" id="modal-fail-buttons" style="display: none;">
              <span data-dismiss="modal" class="btn btn-default pull-left">{% blocktrans %}Закрыть{% endblocktrans %}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="container">
        <h1>{% blocktrans %}Массовая рассылка{% endblocktrans %}</h1>
        <ul class="nav nav-tabs">
            <li {% block create_massmail_block %}{% endblock %}>
                <h5><a href="{% url 'from-support' %}">{% blocktrans %}Создать рассылку{% endblocktrans %}</a></h5>
            </li>
            <li>&nbsp;&nbsp;&nbsp;</li>
            <li {% block analytics_block %}{% endblock %}>
                <h5><a href="{% url 'massmail-analytics' %}">{% blocktrans %}История и аналитика{% endblocktrans %}</a></h5>
            </li>
        </ul>
        {% block page_content %}
        {% include 'extension_email/_message_form.html' %}
        <button class="toggle_tinymce btn btn-default pull-right" type="button">{% trans 'Включить/выключить редактор' %}</button>
        {% endblock %}
        <div class="clearfix"></div>
        <br>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
{% endblock %}

